.layout{width: 1200px; margin: 0 auto; position: relative;}
.header_top{background-color: #74c3d9; height: 29px;}

.header_top ul li{display: inline-block; margin-right: 20px;}

.header_top ul li a{display: inline-block; line-height: 22px;}

.header_top ul li:nth-child(4) a{position: relative;}

.social {display: inline-block; line-height: 25px;}
/* 헤더탑 왼쪽 아이콘 */

.ut {display: inline-block; position: absolute; right: 0; line-height: 25px;}
.ut li {display: inline-block;}
/* 헤더탑 오른쪽 아이콘 */

.contents{width: 1200px; height: 100%; margin: 0 auto;
        position: relative}
/* 네비 컨텐츠 */

.cont1 {text-align: center; margin: 0 auto;}
.cont1 li {display: inline-block; line-height: 40px; margin-right: 70px; }
/* 네비 컨텐츠1 */

.cont2 {line-height: 44px; position: absolute; right: 0; top: 0;}
.cont2 li{display: inline-block; margin-right: 26.5px;}
.cont2 li:last-child{margin-right: 0;}
/* 네비 컨텐츠1 */

/* 포지선absolute를 적용하기위해 a 포지션 relative를 먼저 지정해야함*/

.header_top ul li:nth-child(4) a::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    top: 8px; right: -27px;
    position: absolute;
    background-color: #dcf8ff;}

.header_top ul li:nth-child(5) {margin-left: 20px;}


.header_botton{background-color: #ffffff;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 23px;}
/* 헤더 로고 이미지 */

nav{background-color: #fff; height: 43px; border: 1px solid #e3e3e3;}

#wrap{}
.box1{height: 930px; background: lightpink;}
.box2{height: 910px; background: #999;}
.box3{height: 720px; background-color: lightskyblue;}
.box4{height: 660px; background-color: lightyellow;}
.box5{height: 1277px; background-color: mediumaquamarine;}
.box6{width: 1920px; height: 646px; background: #f5f5f5; text-align: center;}

.box6_1 ul {margin-top: 117px;}
.box6_1 li {display: inline-block; margin-right: 20px; margin-top: 117px;}
.box6 .box6_text li {display: inline-block; margin-right: 20px;}


/* 컨텐츠 6단 */


footer {height: 468px; background: #74c3d9; }
.footer_menu {inline-block; margin: 0 auto; text-align: center; padding-top: 75px; }